<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlwayScrollingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6D8CC771C2BDA67002C0E6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D8CC901C2BDA68002C0E6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D8CC9B1C2BDA68002C0E6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
